<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.jokedisplayactivity">

    <application>
        <activity
            android:name=".DisplayJokeActivity"
            android:label="@string/title_activity_display_joke"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>